.faqSection {
  padding-bottom: 64px;
}
.mainTitle {
  color: #fafafa66;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  margin-bottom: 32px;
}
.accordionContainer {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #fafafa33;
}
.ac {
  width: 100%;
  background-color: transparent;
  padding: 20px 0;
  border: none;
  border-bottom: 1px solid #fafafa33;
  margin: 0;
}
.acHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  text-align: left;
  gap: 20px;
}
.icon {
  display: block;
  stroke: #fafafa;
  fill: none;
  transition: rotate ease 600ms;
}
.acHeader[aria-expanded="true"] .icon {
  rotate: 180deg;
}
.acPanel {
  padding-top: 16px;
}
.acText {
  color: #fafafa99;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  font-family: "Inter Tight", serif;
}
.open {
  display: block;
}
.acPanel[hidden] {
  display: none;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .faqSection {
    padding-bottom: 96px;
  }
  .ac {
    padding: 32px 0;
  }
  .acHeader {
    padding: 9px;
  }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
  .faqSection {
    padding-bottom: 164px;
  }
  .accordionContainer {
    display: grid;
    grid-template-columns: [first] 50% [second] 50%;
    grid-auto-flow: column;
  }
  .ac:first-child {
    border-top: none;
  }
  .ac:nth-child(n + 1):nth-child(-n + 3) {
    grid-column-start: first;
    padding-right: 32px;
  }
  .ac:nth-child(n + 4) {
    grid-column-start: second;
    border-left: 1px solid #fafafa33;
    padding-left: 32px;
  }
}
